<!DOCTYPE html>
<html>
<head>
    <title>Add Task</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<header>
    <h1>Add a new task</h1>
    <a href="/">Home</a>
</header>
<form action="/add-product-post" method="post">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="completed">Completed:</label><br>
    <input type="checkbox" id="completed" name="completed"><br>
    <button type="submit" value="Add Task">Add Task</button>
</form>
<a href="/admin">Back</a>
</body>
</html>
