<!DOCTYPE html>
<html>
<head>
    <title>To-do list</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<header>
    <h1>Welcome to the To do List!</h1>
    {{ if .IsLoggedIn }}
    <a href="/logout">Log out</a>
    <a href="/admin">Admin Panel</a>
    <a href="/profile-edit">Profile Edit</a>
    {{ else }}
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    {{ end }}
</header>
<form action="/add-product-post" method="post">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="completed">Completed:</label><br>
    <input type="checkbox" id="completed" name="completed"><br>
    <button type="submit" value="Add Task">Add Task</button>
</form>

<form action="/" method="get">
    <label for="filter">Filter:</label>
    <input type="text" id="filter" name="filter" placeholder="Enter filter" value="{{.Filter}}">
    <button type="submit">Apply Filter</button>
</form>
<form action="/" method="get">
    <input type="hidden" name="filter" value="{{.Filter}}">
    <label for="sort">Sort by:</label>
    <select name="sort" id="sort">
        <option value="">Default</option>
        <option value="Title" {{if eq .SortBy "Title"}}selected{{end}}>Title</option>
        <option value="completed" {{if eq .SortBy "completed"}}selected{{end}}>Completed status</option>
    </select>
    <button type="submit">Apply Sort</button>
</form>



<h2>Tasks:</h2>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Completed</th>
    </tr>
    {{range .Task}}
    <tr>
        <td>{{.Title}}</td>
        <td>{{.Completed}}</td>
    </tr>
    {{end}}
</table>
<div>
    <span>Page: {{.Page}}</span>
    <a href="?page={{.PrevPage}}&pageSize={{.PageSize}}">Previous</a>
    <a href="?page={{.NextPage}}&pageSize={{.PageSize}}">Next</a>
</div>



</body>
</html>
